<form action="<%= mode === "create" ? '/music_from_album_added' : `/music_from_albums/edit/mfa/${mfa[0].mfa_id}`  %>" method="POST" class="album-form">

    <div>
        <label for="music-title">Music Title: </label>
        <input type="text" name="music_title" id="music-title" required value="<%= mode === "create" ? "" :  mfa[0].music_title %>">
    </div>

    <div>
        <label for="artist-name">Artist Name: </label>
        <select name="artist_name" id="artist-name" required>
            <option value="" disabled selected>Select Artist</option>
            <% artists.map( artist => { %>
                <option value="<%= artist.artist_name %>"> <%= artist.artist_name %> </option>
            <% })  %>
        </select>
    </div>

    <div>
        <label for="album-name">Select Album</label>
        <select name="album_name" id="album-name" required>
            <option value="" disabled selected>Select Album</option>
            <% albums.map( album => { %>
                <option value="<%= album.album_title %>"> <%= album.album_title %> </option>
            <% })  %>
        </select>
    </div>

    <div>
        <fieldset>
            <legend>Select Genres:</legend><br>
            <% const genres = ["Pop", "Rock", "Hip-Hop/Rap", "Jazz", "Electronic/Dance", "R&B/Soul", "Country", "Other"] %>
            <% genres.map(genre => { %>
                <label>
                    <input type="radio" name="genre" value="<%= genre  %>"> <%= genre %>
                </label><br>
            <% }) %>
        </fieldset>
    </div>

    <div>
        <label for="personal-rating">Personal Rating: </label>
        <input type="number" name="personal_rating" id="personal-rating" min="0" max="10" required value="<%= mode === "create" ? "" :  mfa[0].personal_rating %>">
    </div>
    <div>
        <label for="description">
            Description: <textarea rows="10" cols="30" name="description" id="description" required><%= mode === "create" ? "Describe your music ...." :  mfa[0].description %></textarea>
        </label>
    </div>

    <button type="submit"><%= mode==="edit" ? "Edit" : "Add" %></button>

</form>